{#{% extends "mini_base.html" %}#}
{##}
{#{% block title %}<h5 class="card-title text-center mb-5 fw-light fs-5 font">Smth Wrong? Contact Us!</h5>{% endblock %}#}
{#{% block content %}#}
{% load static %}
<link href="{% static 'css/modal_style.css' %}" rel="stylesheet" type="text/css">
<form method="POST" action="{% url 'blog:help_me' %}" class="js-blog-contact">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="modal-title modtit">Contact Us</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-floating mb-3 mar">

            <input type="text"
                   class="form-control hei" name=subject
                   id="id_subject"
                   placeholder="Subject">
            <div class="small" style="color: red"> {% if form.subject.errors %}
           {{ form.subject.errors }}
        {% endif %}</div>

        </div>
        <div class="form-floating mb-3 mar">

            <input type="email"
                   class="form-control hei" name=from_email
                   id="id_email"
                   placeholder="E-mail">
            <div class="small" style="color: red"> {% if form.from_email.errors %}
           {{ form.from_email.errors }}
        {% endif %}</div>
        </div>
        <div class="form-floating mb-3 mar">
            <textarea
                    type="text" class="form-control hei"
                    name="message" id="id_message"
                    placeholder="Message"></textarea>
        <div class="small" style="color: red"> {% if form.message.errors %}
           {{ form.message.errors }}
        {% endif %}</div>
        </div>


        <div class="d-grid mb-2">
            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase font"
                    type="submit">
                Send Mail
            </button>
        </div>
    </div>
</form>

{#{% endblock %}#}