{% extends "base_generic.html" %}

{% block title %}List of Posts{% endblock %}
{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Comments</th>
            {% if request.user.username == user.username %}
                {% if  ifuser %}
                    <th scope="col">Edit</th>
                {% endif %}{% endif %}
        </tr>
        </thead>
        <tbody>
        {% if post_list %}
            {% for post in post_list %}

                <tr>
                    <th scope="row"><a href="{% url 'blog:post_detail' pk=post.pk %}">
                        {{ post.title }}</a></th>
                    <td>by {{ post.author.username }}</td>
                    <td>{{ post.num }}</td>
                    {% if request.user.username == user.username %}
                        {% if  ifuser %}
                            <td>
                                <div class="d-grid mb-2 ">
                                    <button class="btn  btn-warning "
                                            style="font-family:
                                            'Montserrat', 'PT Sans', sans-serif;" type="submit">
                                        <a style="color: white" href="{% url 'blog:post_update' pk=post.pk %}">Update</a>
                                    </button>
                                </div>
                            </td>{% endif %}{% endif %}
                </tr>

            {% endfor %}
        {% else %}

            <td class="table-warning">There are no posts</td>
            <td class="table-warning"></td>
            <td class="table-warning"></td>
        {% endif %}
        </tbody>
    </table>

{% endblock %}