{% extends "base_generic.html" %}

{% block title %}List of Posts{% endblock %}
{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Comments</th>
            {% if request.user.username == user.username %}
                {% if  ifuser %}
                    <th scope="col">Edit</th>
                {% endif %}{% endif %}
        </tr>
        </thead>
        <tbody>
        {% if post_list %}
            {% for post in post_list %}

                <tr>
                    <th scope="row"><a href="{% url 'blog:post_detail' pk=post.pk %}">
                        {{ post.title }}</a></th>
                    <td>by {{ post.author.username }}</td>
                    <td>{{ post.num }}</td>
                    {% if request.user.username == user.username %}
                        {% if  ifuser %}
                            <td>
                                <div class="d-grid mb-2 ">
                                    <button class="btn  btn-warning "
                                            style="font-family:
                                            'Montserrat', 'PT Sans', sans-serif;" type="submit">
                                        <a style="color: white" href="{% url 'blog:post_update' pk=post.pk %}">Update</a>
                                    </button>
                                </div>
                            </td>{% endif %}{% endif %}
                </tr>

            {% endfor %}
        {% else %}
            <p>There are no posts</p>
        {% endif %}
        </tbody>
    </table>
{#    {% if post_list %}#}
    {#        <ul>#}
    {##}
    {#            {% for post in post_list %}#}
    {##}
    {#                {% if request.user.username == user.username %}#}
    {#                    {% if  ifuser %}#}
    {##}
    {#                        <li class="row">#}
    {#                            <div class="d-grid mb-2 ">#}
    {#                                <button class="btn  btn-info  text-uppercase font" style="margin-right: 20pt"#}
    {#                                        type="submit">#}
    {#                                    <a class="d-block text-center mt-2 small " style="color:white;"#}
    {#                                       href="{% url 'blog:post_update' pk=post.pk %}">Update</a>#}
    {#                                </button>#}
    {#                            </div>#}
    {#                            {% else %}#}
    {#                        <li class="row list">#}
    {#                    {% endif %}#}
    {#                {% endif %}#}
    {##}
    {#            <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}{% if not ifuser %}#}
    {#                (by {{ post.author.username }}){% endif %}</a> - {{ post.num }} comments#}
    {##}
    {#            </li>#}
    {#            {% endfor %}#}
    {##}
    {#        </ul>#}
    {##}
    {##}
    {##}
    {#    {% else %}#}
    {#        <p>There are no posts</p>#}
    {##}
    {#    {% endif %}#}
{% endblock %}