{% extends "base_generic.html" %}

{% block title %}List of Authors{% endblock %}
{% block content %}

    {% if user_list %}
        <ul>

            {% for user in user_list %}

                <li><a href="{% url 'profile' pk=user.pk %}">{{ user.username }}
                    ({{ user.first_name }} {{ user.last_name }})</a> - {{ user.num }}
                    <a href="{% url 'blog:authorposts' pk=user.pk%}" >posts</a>

                </li>
            {% endfor %}

        </ul>


    {% else %}
        <p>There are no authors</p>

    {% endif %}

{% endblock %}