{% extends "base_generic.html" %}

{% block title %}List of Authors{% endblock %}
{% block content %}

    {% if user_list %}
        <ul>

            {% for user in user_list %}

                <li class="row list"><a href="{% url 'profile' pk=user.pk %}">{{ user.username }}
                    {% if user.first_name or user.last_name %}
                    ( {{ user.first_name }} {{ user.last_name }} ){% endif %}</a>
                    <a href="{% url 'blog:authorposts' pk=user.pk%}" >- {{ user.num }} posts</a>

                </li>
            {% endfor %}

        </ul>


    {% else %}
        <p>There are no authors</p>

    {% endif %}

{% endblock %}